<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fanxb.sjdemo.dao.OrderDao">

    <insert id="addOne" useGeneratedKeys="true" keyProperty="orderId">
        insert into order(uId,createTime,totalPrice) values(#{uId},#{createTime},#{totalPrice})
    </insert>

</mapper>