<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fanxb.sjdemo.dao.OrderDao">

    <insert id="addOne" useGeneratedKeys="true" keyProperty="orderId" parameterType="user">
        insert into order(userId,createTime,totalPrice) values(#{userId},#{createTime},#{totalPrice})
    </insert>

    <select id="selectOne" resultType="com.fanxb.sjdemo.entity.Order">
        select * from order where orderId=#{orderId} and userId=#{userId}
    </select>

    <select id="getOrderByUserId" resultType="com.fanxb.sjdemo.entity.Order">
      select * from order a inner join user b on a.userId = b.userId where b.userId=#{id}
    </select>

</mapper>