<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fanxb.sjdemo.dao.UserDao">

    <insert id="addOne"  useGeneratedKeys="true" keyProperty="uId">
        insert into user(name,age) values(#{name},#{age})
    </insert>
    
    <select id="getOneById" resultType="User">
        select * from user where uId=#{id}
    </select>

</mapper>