<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fanxb.sjdemo.dao.UserDao">

    <insert id="addOne" useGeneratedKeys="true" keyProperty="userId">
        insert into user(name,age
        <if test="userId>0">
            ,userId
        </if>
        ) values(#{name},#{age}
        <if test="userId>0">
            ,#{userId}
        </if>
        )
    </insert>

    <select id="getOneById" resultType="user">
        select * from user where uId=#{id}
    </select>

</mapper>